.logo-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.login-wrapper {
	display: flex;
	flex-direction: row;
	height: 80vh;
	margin: 30px;
}
.row-login {
	width: 50%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	gap: 20px;
}
.email-container,
.password-container {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.login-btn-container {
	width: 90%;
	gap: 10px;
	display: flex;
	flex-direction: column;
}
.forgot-password {
	margin-left: auto;
}
.row-illustration {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row-illustration img {
	width: 500px;
}

/* Small Device */
@media screen and (max-width: 425px) {
	.login-wrapper {
		display: flex;
		flex-direction: column;
	}
	.row-login {
		width: 100%;
	}
	.row-illustration {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.row-illustration img {
		width: 150px;
	}
}

/* Tablets */
@media screen and (max-width: 768px) and (min-width: 426px) {
	.row-illustration img {
		width: 250px;
	}
}
