/* Product page loading */
.loading-wrapper {
	display: flex;
	align-items: center;
}
.loading-wrapper div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.noitemfound-wrapper {
	display: flex;
	justify-content: center;
}
.noitemfound-wrapper img {
	height: 500px;
}

/* Product Card */

.all-products-wrapper {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.shopping-body,
.text {
	display: flex;
	flex-direction: column;
}
.shopping-card {
	min-width: 250px;
	max-width: 290px;
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: 1px 1px 5px;
}
.shopping-image {
	object-fit: contain;
	height: 230px;
	border-radius: 10px;
	margin-top: 10px;
}
.title {
	text-align: center;
	margin-bottom: 5px;
}
.description {
	color: gray;
	text-align: center;
}
.price {
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
}
.to-cart {
	margin: auto;
	font-size: 14px;
}
.cartValue {
	width: 33%;
}
.value {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Add and Edit Product */
.form-heading {
	margin: 20px;
}
.myForm,
.myEditForm {
	margin: 25px;
	display: flex;
	flex-direction: column;
}
.add-cancel,
.update-cancel {
	margin: 25px;
	display: flex;
	justify-content: space-around;
}

/* Checkout page and Checkout card */
.checkout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	min-height: 40vh;
}
.checkoutpage-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}
.checkoutcard {
	justify-content: space-evenly;
	width: 450px;
	gap: 10px;
	min-height: 200px;
}
.checkout-btn {
	display: flex;
	justify-content: space-around;
}
.checkout-content {
	width: 299px;
}
.checkout-btngrp {
	width: 40%;
}
.checkoutValue {
	width: 33%;
}
.shoppingcart-image {
	width: 151px !important;
}
.typo-heading {
	font-size: 20px !important;
	font-weight: 400;
}

/* Media Queries */
/* For Small Devices */
@media screen and (max-width: 426px) {
	.noitemfound-wrapper img {
		width: 300px;
		height: auto;
	}
	.checkoutcard {
		/* min-width: 300px; */
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.checkout-content {
		width: 100%;
	}
	.shoppingcart-image {
		width: 230px !important;
	}
}
