/* UserList */
.userlist-wrapper {
	min-height: 50vh;
}

.list-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 16px;
}
.user-detail,
.myorder-container {
	min-height: 70vh;
	margin-top: 15px;
}
.userDetail-wrapper,
.myOrder-wrapper {
	padding: 15px;
}
.order-listed {
	margin-top: 15px;
}
.order-listed ul {
	list-style: circle;
}
.user-name,
.user-email,
.user-order {
	display: grid;
	grid-template-columns: 130px auto;
}
.user-name h5,
.user-email h5,
.user-order h5 {
	font-size: 24px !important;
}

@media screen and (max-width: 425px) {
	.list-wrapper {
		flex-direction: column;
		align-items: normal;
		padding: 10px;
	}
	.user-name,
	.user-email,
	.user-order {
		display: flex;
		align-items: center;
	}
	.user-name h5,
	.user-email h5,
	.user-order h5 {
		font-size: 16px !important;
		margin-bottom: 0px;
		margin-right: 10px;
	}
}
