/* Variables */
:root {
	--primary: #f3c318;
}

/* Reset */
body,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Base style */

.login-link {
	margin-left: auto;
}
.homepage-wrapper {
	margin: 16px;
}
