/* Variables */
:root {
	--primary: #ffd701;
	--secondary: #2a73b9;
	--black: #0a0a0a;
}

/* Reset */
body,
p,
a,
ul,
li {
	font-family: Poppins;
	margin: 0;
	padding: 0;
	color: black;
}
p {
	text-align: justify;
	line-height: 1.8rem;
}
a {
	text-decoration: none;
}
/* font style */

/* Base style */

.login-link,
.logout-link {
	margin-left: auto !important;
}
.homepage-wrapper,
footer {
	margin: 16px;
}

/* Homepage */
.homepage-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.app-vision {
	height: 300px;
	background-color: var(--primary);
	color: var(--secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	text-align: center;
}
.about-us {
	display: flex;
	flex-direction: row;
}
.about-mission {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 10px;
}
.about-illustration {
	width: 50%;
	display: flex;
	justify-content: center;
}
.hour-rental,
.week-rental,
.custom-rental,
.lease-rental {
	display: flex;
	gap: 2%;
}

.hour-rental-container,
.week-rental-container,
.custom-rental-container,
.lease-rental-container {
	width: 60%;
	padding: 15px;
}
.hour-illustration,
.week-illustration,
.custom-illustration,
.lease-illustration {
	display: flex;
	justify-content: center;
	width: 38%;
}
.about-illustration img,
.hour-illustration img,
.week-illustration img,
.custom-illustration img,
.lease-illustration img {
	width: 325px;
	object-fit: contain;
}
.solution {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* NavBar */
.search-bar {
	display: flex;
	align-items: center;
	height: 50px;
	width: 30%;
	border: 2px solid var(--secondary);
	border-radius: 25px;
}
.search-bar div {
	width: 100%;
}

.text-field fieldset {
	border: none;
	outline: none;
}
.search-button {
	height: 50px;
}
.search-bar-big {
	display: flex;
	align-items: center;
	height: 50px;
	width: 80%;
	border: 2px solid var(--secondary);
	border-radius: 25px;
}
.cart-icon {
	margin-left: 20px;
}
.cart-icon:hover {
	cursor: pointer;
}

/* Footer */
.footer-wrapper {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--primary);
}
.footer-wrapper-content {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.footer-heading {
	font-size: 18px;
	font-weight: 600;
	color: var(--secondary);
}
.footer-solution,
.footer-company,
.footer-contactus {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 30%;
}
.footer-solution a,
.footer-company p,
.footer-company a,
.footer-contactus a,
.copyright {
	color: var(--secondary);
}
.copyright {
	text-align: center;
	padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 640px) {
	.about-us {
		flex-direction: column;
	}
	.about-mission {
		width: 100%;
	}
	.about-illustration {
		width: 100%;
	}
	.about-illustration img,
	.hour-illustration img,
	.week-illustration img,
	.custom-illustration img,
	.lease-illustration img {
		width: 200px;
	}
	.hour-rental,
	.week-rental,
	.custom-rental,
	.lease-rental {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hour-rental-container,
	.week-rental-container,
	.custom-rental-container,
	.lease-rental-container {
		width: 100%;
	}
	.footer-wrapper {
		box-shadow: 0px 0px 5px;
		border-radius: 5px;
	}
	.footer-wrapper-content {
		flex-direction: column;
		gap: 20px;
	}
	.footer-solution,
	.footer-company,
	.footer-contactus {
		width: 100%;
		gap: 10px;
		padding: 10px;
	}
	.search-bar {
		width: 90%;
	}
}
